<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Моя галерея</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="main">
		<div class="post_title"><h2>Моя галерея</h2></div>
		<div class="gallery">
			{% include 'gallery_item.tmpl' %}
		</div>
	</div>
</body>
</html>