<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Изображение</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="image">
		<img src="img/big/{{image.path_img}}">
		<p>Просмотров: {{countPreview}}</p>
	</div>
</body>
</html>